<!DOCTYPE html>
<html>

<head>
    <title>Noticeboard | Placementcell</title>
    <link rel='stylesheet' href='/library/semantic/semantic.css' />
    <script type="text/javascript" src="/library/javascript/jquery-3.1.0.js"></script>
    <script type="text/javascript" src="/library/semantic/semantic.js"></script>

</head>

<body>
    <div class="ui container segment index-content">
      <div class="ui basic green button">
        <a href="/new">Post a new notice</a>
      </div>
      <div class="ui left basic blue button">
        <a href="/all">Notice board</a>
      </div>

    </div>
</body>

</html>
