<!DOCTYPE html>
<html>
  <head>
    <title>PlacementDSI</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/new">Post a new notice</a><br>
    <a href="/all">Notice board</a>
  </body>
</html>
